<h1>Usuario</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Use_name</th>
            <td>{{ entity.usename }}</td>
        </tr>
        <tr>
            <th>Use_dependencia</th>
            <td>{{ entity.usedependencia }}</td>
        </tr>
        <tr>
            <th>Use_phone</th>
            <td>{{ entity.usephone }}</td>
        </tr>
        <tr>
            <th>Use_email</th>
            <td>{{ entity.useemail }}</td>
        </tr>
        <tr>
            <th>Use_login</th>
            <td>{{ entity.uselogin }}</td>
        </tr>
        <tr>
            <th>Use_password</th>
            <td>{{ entity.usepassword }}</td>
        </tr>
        <tr>
            <th>Use_original</th>
            <td>{{ entity.useoriginal }}</td>
        </tr>
        <tr>
            <th>Use_rename</th>
            <td>{{ entity.userename }}</td>
        </tr>
        <tr>
            <th>Use_status</th>
            <td>{{ entity.usestatus }}</td>
        </tr>
        <tr>
            <th>Use_type</th>
            <td>{{ entity.usetype }}</td>
        </tr>
        </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('usuario') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('usuario_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
